<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Why Us</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" type="x-icon"
	th:href="@{/images/quran_recitation.png}">
</head>
<body>
	<div th:replace="header :: header"></div>
	<div class="contents">
		<section class="whyus_offer-section">
			<div class="whyus_left">
				<h1>Why ProMaktab</h1>
				<p>Basic Islamic education through promaktab plays a crucial
					role in shaping a child’s moral and spiritual foundation. It
					instills essential values, such as honesty, compassion, and
					discipline, while ensuring they learn fundamental Islamic
					teachings, including Quranic recitation, basic jurisprudence, and
					daily prayers. In a rapidly changing world, maktab education helps
					young minds stay connected to their faith, guiding them toward a
					balanced life rooted in ethical and religious principles.</p>
           	</div>
			<div class="whyus_right">
			<!-- <h1>Our Experties</h1> -->
				<div class="whyus_service">
					<h2>one-one and group classes</h2>
					<p>We provide one-one classes where teacher teaches only a single person at a time as well as group classes wherein we have 3-4 members in a class(less price compare to one-one) </p>
				</div>
				<div class="whyus_service">
					<h2>Male and Female teachers</h2>
					<p>By considering the student's requirement we've both male and female teachers who can teach male and female students respectively,Both of our teachers are equally skilled in their respective fields.Therefore any person of any age group can join and embark the journey of learning </p>
				</div>
				<div class="whyus_service">
					<h2>Multiple languages</h2>
					<p>We're providing you the courses in the language you're comfortable at.Currently we're teaching in three different languages they're <b>English,Urdu and Tamil</b>,So that you have good and clear understanding of teachings </p>
				</div>
				<div class="whyus_service">
					<h2>comfortable timings</h2>
					<p>We're giving you the option to select time slots which ever you're ok with,However we follow First In First priority principle so you have to join early to block your comfortable timings  </p>
				</div>
			</div>
		</section>
	</div>
</body>
</html>